@charset "utf-8";
.ghy_margin{
    margin: 5px 25px 5px 8px;  
}
.ghy_card_size{
    width: 200px;
    height:150px;
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.ghy_nopadding{
    padding: 0px;
}
.ghy_noborder{
    border: 0px solid red;
}
.ghy_color{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(238, 57, 57);
}
.ghy_text_overflow{ 
    width:100%;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
    padding: 0px;
    top: auto;
    
}
/* 关浩延 */