@charset "utf-8";
body{
	/*background-color:#000;*/
	margin:0px 0px 0px 0px;
	padding:0px;
}
.bd{
	position:absolute;
	top:0px;
	right:0px;
	bottom:50px;
	left:0px;
	background:#fff;
}
.header{
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	height:48px;
	background-color:#ee1c1b;
}
.header_logo{
	width:200px;
	text-align:center;
	bottom:14px;
	height:48px;
	float:left;
	
}
.header_logo img{
		height:48px;
	}

.header_center{
	width:300px;
	margin: auto;
	height: 0px;
	margin-top: 7px;
	
}
.header_right{

	width:200px;
	height:48px;
	float:right;
	padding:0px;

}
.header_right_icon{
	border:2px solid white;
	width:32px;
	height:32px;
	border-radius:32px;
	background-image:url("../img/1.jpg");
	background-size:32px 32px;
	float:left;
}
.header_right_user{
	width:120px;
	line-height:32px;
	text-align:center;
	float:left;
	font-family:"仿宋";
	font-size:20px;
	color:white;
}
img{
	width:100%;
	height:300px;
}
.content{
	position:absolute;
	float:left;
	top:48px;
	right:0px;
	bottom:0px;
	left:0px;
	background-color:#FFF;

	border:0px solid #ccc;
}
.content .partition{
	margin-top:10px;
	width:1400px;
	height:300px;
	margin: auto;
	
}.cotent .partition img{
	width:100%;
	height:300px;
}
.content .partition .partition_head{
	padding:7px;
	height:48px;
	border:1px solid #ccc;
}
.content .partition .partition_head_left{
	float:left;
	font-family:"黑体";
	font-size:25px;
}
.content .partition .partition_head_left img{
	width:32px;
	height:32px;
	margin-bottom:10px;
}
.content .partition .partition_head_left_icon{
	border:0px solid white;
	width:35px;
	height:35px;
	border-radius:2px;
	//background-image:url("../img/游戏.png");
	background-size:35px 35px;
	float:left;
}
.content .partition .partition_video{
	height:300px;
	border:1px solid #ccc;
}
.Navigation{
	position:fixed;
	float:right;
	top:400px;
	border:1px solid #ccc;
	width:60px;
	height:210px;
	right:10px;
	background-color:#e5e9ef;
	list-style:none;
}
.Navigation ul{
	list-style:none;
	padding:0;
	margin:auto;
	color:red;
	text-decoration:none;
}
.Navigation ul li{
	border-bottom:1px solid #ccc;
	font-size:17px;
	color:#d81e06;
	
}
.Navigation ul a{
	color:#d81e06;
	text-decoration:none;
}
.Navigation img{
	width:48px ;
	height:48px;
}
