@charset "utf-8";
#myBtn {
    display: none;
    position: fixed;
    bottom: 15%;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  .y_head-contain {

    width: 100%;
    height: 50px;

}
.y_head-contain {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 200px;
}

.y_menu {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    left: 0px;
    background-color:#ee1c1b;
}

.y_menu .y_leader {
    float: left;
    width: 500px;
    height: 50px;
    margin-right:100px;
}

.y_menu .y_leader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.y_menu .y_leader ul li {
    float: left;
}

.y_menu .y_leader ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
}

.y_menu .y_leader ul li a:hover {
    background-color: rgb(240, 167, 167);
}

.y_menu .y_menu-right {
    float: left;
    height: 50px;

}

.y_body {
    position: absolute;
    top: 50px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 248);
}

.y_body .y_body-view {
    position: absolute;
    width: 100%;
    margin-top: 20px;
    margin-right: 180px;
    height: 100%;
}

.y_body .y_body-view .y_body-l {
    position: absolute;
    float: left;
    width: 1117px;
    height: 100%;
    margin-left: 220px;
    

}

.y_body .y_body-view .y_body-l .y_view-report {
    height: 81px;
    background-color: white;

}

.y_body .y_body-view .y_body-l .y_video-title {
    height: 36px;
    margin-bottom: 5px;
}

.y_body .y_body-view .y_body-l .y_video-title .y_title {
    top: 0px;
    font-size: 30px;
    text-align: center;
}

.y_body .y_body-view .y_body-l .y_video-title .y_date {
    top: 0px;
    font-size: 20px;
    text-align: center;
}
.y_body .y_body-view .y_body-l .y_video{
    width: 100%;
    height: 630px;
}

.y_body .y_body-view .y_body-l .y_video-summary{
    width: 100%;
    height: 80px;
    margin-top: 15px;
    background-color: white;
 
}
.y_body .y_body-view .y_body-l .y_video-summary .y_summary-info{
    width: 70%;
    height: 100%;
    
 
}

.y_body .y_body-view .y_body-l .y_comment{
    width: 100%;
    height: 100%;

}
.y_body .y_body-view .y_body-l .y_comment .y_comment-head{
    height: 37px;
    border-bottom: 2px solid #ccc4c4;
}
.y_body .y_body-view .y_body-l .y_comment .y_comment-head .pagination{
    float: right;
}

.y_body .y_body-view .y_body-l .y_comment .y_comment-send{
    margin-left: 226px;
    height: 118px;
}

.y_body .y_body-view .y_body-l .y_comment .y_comment-send .btn-info{
    margin-left: 5px;
    float: left;
    height: 86px;
    width: 86px;
}


.y_body .y_body-view .y_body-r {
    position: absolute;
    float: left;
    left:1357px;
    width: 320px;
    height: 100%;
    

}




/* yuzhanhao */